body {
    text-align: center;
    background-color: aquamarine;   
}

#timer {
    width: 200px;
    height: 200px;
    line-height: 200px;
    display: inline-block;
    font-size: 140px;
    border-radius: 50%;
    background-color: blue;
}